<div class="row">
    <div class="col-12 text-center">
        <img src="images/book.svg" class="text-center">
        <h4>Logs</h4>
    </div>
</div>
<hr>
<div class="row text-center">
    <div class="col-md-6 offset-md-3" ng-repeat="transaction in historian track by $index">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{transaction.transactionType}}</h5>
                </div>
            <div class="card-body">
                <p class="card-text">{{transaction.transactionId}}</p>
                <p class="card-text">{{transaction.transactionTimestamp | date : "medium" }}</p>
            </div>
        </div>
        <br><br>
    </div>
</div>