<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img src="images/rocket.svg" class="text-center">
            <h4>Records and Transactions</h4>
        </div>
    </div>
    <hr>
    <div class="row" >
        <div class="col-md-4" ng-repeat="record in approvals track by $index">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{record}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <button type="button" ng-click="patientRecord(record)" class="btn standard-button" data-toggle="modal"
                            data-target="#exampleModalCenter"><i class="fa fa-info-circle"  aria-hidden="true"></i>&nbsp;Show
                        Details
                    </button>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-outline-dark" data-toggle="collapse" data-target="#collapseExample"
                    role="button" aria-expanded="false" aria-controls="collapseExample">Show Completed
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <button type="button" class="btn standard-button" data-toggle="modal"
                                            data-target="#exampleModalCenter"><i class="fa fa-info-circle"
                                                                                 aria-hidden="true"></i>&nbsp;Show
                                        Details
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Patient ID: {{json.patientId}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Patient Record Owner: {{json.recordOwner.split('#')[1]}}
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="approvePatientByDoctor(json,false)" class="btn btn-outline-danger" data-dismiss="modal">Reject</button>
                    <button type="button" ng-click="approvePatientByDoctor(json,true)" class="btn btn-outline-info">Accept</button>
                </div>
            </div>
        </div>
    </div>