<script>
    userDetails();
</script>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img src="images/rocket.svg" class="text-center">
            <h4>Pending Approval Requests</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12" ng-repeat="record in approvals track by $index">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{record}}</h5>
                    <p class="card-text">User file generated: {{randomDate('01/27/2018','01/28/2018')}}</p>
                    <button type="button" ng-click="patientRecord(record)" class="btn standard-button"
                            data-toggle="modal"
                            data-target="#exampleModalCenter"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Show
                        Details
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Patient ID: {{json.patientId}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Patient Record Owner: {{json.recordOwner.split('#')[1]}}
                    </div>
                    <div class="modal-footer" ng-if="!isPatient()">
                        <button type="button" ng-click="approvePatientByDoctor(json,false)"
                                class="btn btn-outline-danger" data-dismiss="modal">Reject
                        </button>
                        <button type="button" ng-click="approvePatientByDoctor(json,true)" class="btn btn-outline-info">
                            Accept
                        </button>
                    </div>
                    <div class="modal-footer" ng-if="isPatient()">
                        <button type="button" ng-click="approvePatient(json,false)"
                                class="btn btn-outline-danger" data-dismiss="modal">Reject
                        </button>
                        <button type="button" ng-click="approvePatient(json,true)" class="btn btn-outline-info">
                            Accept
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>