<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <div class="modal-header">
            <div class="text-center">
                <img src="images/lego.svg" width="32" height="32">
                <h5 class="modal-title text-center" id="exampleModalLabel">Patient records</h5>
            </div>
        </div>
        <form class="form-group text-left">
            <div class="modal-body">
                <label></label>Patient id:
                <input type="text" ng-model="patientId" class="form-control" placeholder="Enter patient ID">
                <br>
              <!--   <label></label>Send to number:
                <input type="number" ng-model="doctorNumber" class="form-control" placeholder="Enter phone number"> -->
            </div>
            <div class="modal-footer">
                <button class="btn standard-button" ng-click="showDocument()">Pull record</button>
            </div>
        </form>
    </div>
    <div class="row" ng-if="false">
        <div class="col-lg-3 col-md-6 col-xs-12" ng-repeat="record in approvals track by $index">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{record}}</h5>
                    <p class="card-text">User file generated: {{randomDate('01/27/2018','01/28/2018')}}</p>
                    <button type="button" ng-click="patientRecord(record)" class="btn standard-button"
                            data-toggle="modal"
                            data-target="#exampleModalCenter"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Show
                        Details
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>